body {
  background: #f2f2f2;
  font-family: Arial;
}

.chatbox {
  width: 1550px;
  margin: 50px auto;
  background: white;
  padding: 10px;
  border-radius: 10px;
}

#chat {
  height: 300px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 5px;
}

.user {
  text-align: right;
  color: blue;
}

.bot {
  text-align: left;
  color: green;
}

input {
  width: 75%;
  padding: 5px;
}

button {
  padding: 5px 10px;
}